<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sniper.sqlmap.mysql.pagination">

	<!-- 基本分页片段 -->
	<sql id="limit">
		<![CDATA[ 
			LIMIT #{start},#{pageSize}
		]]>
	</sql>
	
	<!-- 偏移量分页片段 -->
	<sql id="offSetAndLimit">
		
		<![CDATA[ 
			> #{start} LIMIT #{pageSize}
		]]>
	</sql>
	
	<sql id="endAndLimit">
		<![CDATA[ 
			 < #{end} LIMIT #{pageSize} 
		]]>
	</sql>
	
	<sql id="startAndEnd">
		<![CDATA[
			BETWEEN #{start} AND #{end}
		]]>
	</sql>
	
</mapper>