<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">
	
	<bean id="redisTrendSequence" class="org.sniper.generator.redis.RedisTrendSequence">
		<constructor-arg name="redisCommandsDao" ref="redisCommandsDao" />
	</bean>
	
	<bean id="redisSequenceGenerator" class="org.sniper.generator.redis.RedisSequenceGenerator" >
		<constructor-arg name="redisTrendSequence" ref="redisTrendSequence" />
	</bean>
	
	<bean id="queueCacheSequenceGenerator" class="org.sniper.generator.keyspace.QueueCacheSequenceGenerator">
		<constructor-arg name="keyspaceGenerator" ref="redisSequenceGenerator" />
		<constructor-arg name="fixQueueCache" value="false"/>
		<property name="cacheStepSize" value="10000" />
	</bean>
	
	<bean id="counterCacheSequenceGenerator" class="org.sniper.generator.keyspace.CounterCacheSequenceGenerator">
		<constructor-arg name="keyspaceTrendSequence" ref="redisTrendSequence" />
		<constructor-arg name="fixCounterCache" value="false"/>
		<property name="cacheStepSize" value="100000" />
	</bean>
	
	<bean id="serialNumberGenerator" class="org.sniper.generator.application.SerialNumberGenerator">
		<constructor-arg name="keyspaceGenerator" ref="counterCacheSequenceGenerator" />
	</bean>
	
	<bean id="dimensionSerialNumberGenerator" class="org.sniper.generator.application.DimensionSerialNumberGenerator">
		<constructor-arg name="keyspaceGenerator" ref="counterCacheSequenceGenerator" />
	</bean>
	
</beans>